<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Path: LDAP serveur adress. Ex: LDAP://domaincontrol.acme.com-->
    <add key="path" value="LDAP://dc2"/>
    <!-- LDAP Filter. Ex: (&amp;(objectclass=user)(|(useraccountcontrol=512)(useraccountcontrol=66048))(sn=*)) -->
    <add key="filter" value="(&amp;(objectclass=user)(|(useraccountcontrol=512)(useraccountcontrol=66048))(sn=*))"/>
    <!-- List of LDAP attributs. Ex:  cn,mail -->
    <add key="attributs" value="cn,mail"/>
  </appSettings>
</configuration>